<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!-- In case configuration is not the root element, replace it with root element in source configuration file -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <system.serviceModel>
    <client>
      <endpoint address="http://t05mesap/PKGMESws_Auto/wsWPSystem/wsWPSystem.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsWPSystemSoap"
                contract="wsAuto.wsWPSystemSoap" name="wsWPSystemSoap" xdt:Transform="Replace" xdt:Locator="Match(name)" />

      <endpoint address="http://t05mesap/PKGMESws_Lextar/wsWIP/wsWIP.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsWIPSoap"
                contract="wsWIP_LHTC.wsWIPSoap" name="wsWIPSoap" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
      <endpoint address="http://t05mesap/PKGMESws/wsWIP/wsWIP.asmx"
          binding="basicHttpBinding" bindingConfiguration="wsWIPSoap1"
          contract="wsWIP.wsWIPSoap" name="wsWIPSoap1" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
      <endpoint address="http://t05mesap/PKGMESws/wsOP/wsOP.asmx"
          binding="basicHttpBinding" bindingConfiguration="wsOPSoap"
          contract="wsOP.wsOPSoap" name="wsOPSoap" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
      <endpoint address="http://t05mesap/PKGMESws_Lextar/wsCUS/wsCUS.asmx"
          binding="basicHttpBinding" bindingConfiguration="wsCUSSoap"
          contract="wsCUS_LHTC.wsCUSSoap" name="wsCUSSoap" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
      <endpoint address="http://t05mesap/PKGMESws_Lextar/wsPRD/wsPRD.asmx"
          binding="basicHttpBinding" bindingConfiguration="wsPRDSoap"
          contract="wsPRD_LHTC.wsPRDSoap" name="wsPRDSoap" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
      <endpoint address="http://t05mesap/PKGMESws/wsEMS/wsEMS.asmx"
          binding="basicHttpBinding" bindingConfiguration="wsEMSSoap"
          contract="wsEMS.wsEMSSoap" name="wsEMSSoap" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
      <endpoint address="http://t05mesap/PKGMESws/wsEQP/wsEQP.asmx"
          binding="basicHttpBinding" bindingConfiguration="wsEQPSoap"
          contract="wsEQP.wsEQPSoap" name="wsEQPSoap" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
      <endpoint address="http://t05mesap/PKGMESws/wsQC/wsQC.asmx"
          binding="basicHttpBinding" bindingConfiguration="wsQCSoap"
          contract="wsQC.wsQCSoap" name="wsQCSoap" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
      <endpoint address="http://t05mesap/PKGMESws_Lextar/wsSYS/wsSYS.asmx"
          binding="basicHttpBinding" bindingConfiguration="wsSYSSoap"
          contract="wsSYS_LHTC.wsSYSSoap" name="wsSYSSoap" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
      <endpoint address="http://t05mesap/PKGMESws_Lextar/wsEMS/wsEMS.asmx"
          binding="basicHttpBinding" bindingConfiguration="wsEMSSoap1"
          contract="wsEMS_LHTC.wsEMSSoap" name="wsEMSSoap1" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    </client>
  </system.serviceModel>
</configuration>