<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="wsWPSystemSoap" maxBufferSize="64000000" maxReceivedMessageSize="64000000">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="wsWIPSoap" maxBufferSize="64000000" maxReceivedMessageSize="64000000">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="wsWIPSoap1" maxBufferSize="64000000" maxReceivedMessageSize="64000000">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="wsOPSoap" maxBufferSize="64000000" maxReceivedMessageSize="64000000">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="wsCUSSoap" maxBufferSize="64000000" maxReceivedMessageSize="64000000">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="wsPRDSoap" maxBufferSize="64000000" maxReceivedMessageSize="64000000">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="wsEMSSoap" maxBufferSize="64000000" maxReceivedMessageSize="64000000">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="wsEQPSoap" maxBufferSize="64000000" maxReceivedMessageSize="64000000">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="wsQCSoap" maxBufferSize="64000000" maxReceivedMessageSize="64000000">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="wsSYSSoap" maxBufferSize="64000000" maxReceivedMessageSize="64000000">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="wsEMSSoap1" maxBufferSize="64000000" maxReceivedMessageSize="64000000">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/PKGMESws_Auto/wsWPSystem/wsWPSystem.asmx" binding="basicHttpBinding" bindingConfiguration="wsWPSystemSoap" contract="wsAuto.wsWPSystemSoap" name="wsWPSystemSoap" />
      <endpoint address="http://localhost/PKGMESws_Lextar/wsWIP/wsWIP.asmx" binding="basicHttpBinding" bindingConfiguration="wsWIPSoap" contract="wsWIP_LHTC.wsWIPSoap" name="wsWIPSoap" />
      <endpoint address="http://localhost/PKGMESws/wsWIP/wsWIP.asmx" binding="basicHttpBinding" bindingConfiguration="wsWIPSoap1" contract="wsWIP.wsWIPSoap" name="wsWIPSoap1" />
      <endpoint address="http://localhost/PKGMESws/wsOP/wsOP.asmx" binding="basicHttpBinding" bindingConfiguration="wsOPSoap" contract="wsOP.wsOPSoap" name="wsOPSoap" />
      <endpoint address="http://localhost/PKGMESws_Lextar/wsCUS/wsCUS.asmx" binding="basicHttpBinding" bindingConfiguration="wsCUSSoap" contract="wsCUS_LHTC.wsCUSSoap" name="wsCUSSoap" />
      <endpoint address="http://localhost/PKGMESws_Lextar/wsPRD/wsPRD.asmx" binding="basicHttpBinding" bindingConfiguration="wsPRDSoap" contract="wsPRD_LHTC.wsPRDSoap" name="wsPRDSoap" />
      <endpoint address="http://localhost/PKGMESws/wsEMS/wsEMS.asmx" binding="basicHttpBinding" bindingConfiguration="wsEMSSoap" contract="wsEMS.wsEMSSoap" name="wsEMSSoap" />
      <endpoint address="http://localhost/PKGMESws/wsEQP/wsEQP.asmx" binding="basicHttpBinding" bindingConfiguration="wsEQPSoap" contract="wsEQP.wsEQPSoap" name="wsEQPSoap" />
      <endpoint address="http://localhost/PKGMESws/wsQC/wsQC.asmx" binding="basicHttpBinding" bindingConfiguration="wsQCSoap" contract="wsQC.wsQCSoap" name="wsQCSoap" />
      <endpoint address="http://localhost/PKGMESws_Lextar/wsSYS/wsSYS.asmx" binding="basicHttpBinding" bindingConfiguration="wsSYSSoap" contract="wsSYS_LHTC.wsSYSSoap" name="wsSYSSoap" />
      <endpoint address="http://localhost/PKGMESws_Lextar/wsEMS/wsEMS.asmx" binding="basicHttpBinding" bindingConfiguration="wsEMSSoap1" contract="wsEMS_LHTC.wsEMSSoap" name="wsEMSSoap1" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="EqpNo" value="P5DBW014" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>