<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="D:/Log/DB_OPI/DB_OPI.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
    <target xsi:type="File" name="f" fileName="D:/Log/DB_OPI/DB_OPI.log"
            layout="${date:format=yyyy\-MM\-dd HH\:mm\:ss.FFF} ${uppercase:${level}} ${message}" />
    
    <target name="databaselog" xsi:type="Database" useTransactions="true">
      
      <dbProvider>Oracle.ManagedDataAccess.Client</dbProvider>

      <!-- database connection parameters -->
      <!-- alternatively you could provide a single 'connectionstring' parameter -->
      <!--<connectionString>Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=T05HIS01)(PORT=1531))(CONNECT_DATA=(SERVICE_NAME=T05HIS01)));User Id=pkgrpt_ap;Password=rpt$520;</connectionString>-->
      <connectionString>Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.234.80.155)(PORT=1531))(CONNECT_DATA=(SERVICE_NAME=t05dev02)));User Id=pkgrpt;Password=pkgrpt;</connectionString>
      
      <commandText>
        insert into PKGRPT.TBL_MES_SYSTEM_LOG (AP_NAME, LOG_TIME , LOG_LEVEL, THREAD, MESSAGE, EXCEPTION, LOGGER, SOURCE, HOST_NAME, METHOD_NAME) VALUES (:ap_name, TO_TIMESTAMP(:log_date,'YYYY-MM-DD HH24:MI:SS.FF') , :log_level, :log_thread, :log_message, :log_exception, :logger, :source, :host_name, :method_name)
      </commandText>

      <parameter name="ap_name" layout="DB_OPI"/>
      
      <!--<parameter name="log_date" layout="${date:format=yyyy\-MM\-dd HH\:mm\:ss}" />-->
      <parameter name="log_date" layout="${date:format=yyyy\-MM\-dd HH\:mm\:ss.fff}" />
      <parameter name="log_level" layout="${uppercase:${level}}"/>
      <parameter name="log_thread" layout="${threadid}"/>
      <parameter name="log_message" layout="${message}"/>
      <parameter name="log_exception" layout="${exception}"/>
      <parameter name="logger" layout="${logger}"/>
      <parameter name="source" layout="${callsite:className=true:methodName=true}: ${callsite-linenumber}"/>
      <parameter name="host_name" layout="${machinename}"/>
      <parameter name="method_name" layout="${callsite:methodName=true}"/>


    </target>
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
    <logger name="*" minlevel="Debug" writeTo="databaselog" />
    <logger name="*" minlevel="Debug" writeTo="f" />
  </rules>
</nlog>
